<div class="success">
<%= flash[:success] %>
</div>
<div class="container">
<%= form_for @message, url: contact_path do |message_form| %>
  <fieldset>
    <div class="field">
      Nombre<br> <%= message_form.text_field :name, class: 'form_control', placeholder: "Nombre" %><br>
    </div>
    
    <div class="field">
      E-mail<br> <%= message_form.email_field :email, class: 'form_control',  placeholder: "Email"%><br>
    </div>
    
    <div class="field">
     Mensaje<br> <%= message_form.text_area :content, class: 'form_control_area',  placeholder: "Mensaje"%><br>
    </div>
  </fieldset>
  
  <fieldset>
    <div class="field">
      <%= message_form.submit "Enviar", :class => 'btn_send' %>
    </div>
  </fieldset>
<% end %>
</div>
