<div class="stores-list">
<ul>
<% @stores.each do |store| %>
<li class="store-list">
<strong><%= store.name %></strong>
<%= store.place %>
<%= store.email %>
<%= store.telephone %>
<%= store.address %>
<%= link_to 'Ver más', store_path(store) %>
</li>
<br>
<% end %>
</ul>
</div>