<div class="container">
<%= form_for @store do |f| %>

<strong>Name:</strong> <br><%= f.text_field :name, class: 'form_control' %><br>

<strong>Email:</strong><br><%= f.email_field :email, class: 'form_control' %><br>

<strong>Telephone</strong><br> <%= f.text_field :telephone, class: 'form_control' %><br>

<strong>Place</strong><br><%= f.text_field :place, class: 'form_control' %><br>

<strong>Postcode</strong><br><%= f.text_field :postcode, class: 'form_control' %><br>

<strong>Address</strong><br><%= f.text_field :address, class: 'form_control' %><br>

<strong>Latitude</strong><br><%= f.number_field :latitude, :step => 'any', class: 'form_control'%><br>

<strong>Longitude</strong><br><%= f.number_field :longitude, :step => 'any', class: 'form_control' %><br>

Password: <%= f.password_field :password %>
Password Confirmation: <%= f.password_field :password_confirmation %>
 
 
<br>

  <%= f.submit "Save", :class => 'btn_Save' %>

<% end %>
</div>