<div class="row profile">

<div class="col-md-6 info">
<h3><%= @store.name %></h3>

<%= @store.place %><br>
<%= @store.address %><br>
<%= @store.postcode %><br>
<%= @store.telephone %><br>
<%= @store.apparel %><br>

</div>

<div class="col-md-6">

<div id="places">
<div id="map"></div>
</div>

</div>

</div>

  

  