

<header>
<article>

<div class="container">

<!-- <div class="welcome">

<div class="row sentence">
	¿Llevas tiempo buscando una falda de tul como la de Carrie Bradshaw? ¿has visto un vestido por la calle y no tienes ni idea de dónde conseguirlo? ¡Ahorra tiempo buscando esa prenda de ropa que tanto deseas! Logeate para guardar tus búsquedas o entra como un usuario anónimo
</div>

</div>
 -->
<div class="row">

<div class="col-md-6">

<div class="form">

<% if user_signed_in? %>


<%= form_for @request do |f| %>

 <strong>¿Qué prenda de ropa o calzado estás buscando?</strong> <br><%= f.text_field :product, class: 'form_control' %> <br><br>


 <strong>¿Dónde? - Selecciona una ciudad del despegable</strong>  <br><%= f.select :place, @cities.map {|c| [c.city] }.sort, {}, {required: 'true', autofocus: 'true', class: 'select_control'} %> <br><br>

  <%= f.submit "LOOKFIND", :class => 'btn_lookFinder' %>

<% end %>
<% else %>

<%= form_for @request do |f| %>

 <strong>¿Qué prenda de ropa o calzado estás buscando?</strong> <br><%= f.text_field :product, :placeholder => " Pantalones palazzo color negro", class: 'form_control' %><br><br>

 <strong>¿Dónde? Selecciona una ciudad del desplegable</strong>  <br> <%= f.select :place, @cities.map { |c| [c.city] }.sort, {}, {required: 'true', autofocus: 'true',  class: 'select_control'} %><br><br>


  <strong>Déjanos tu nombre</strong> <br><%= f.text_field :name, :placeholder => " Escribe tu nombre aquí",class: 'form_control' %><br><br>
 
  <strong>Y por último tu e-mail</strong> <br><%= f.email_field :email, :placeholder => " lookfinder@lookfinder.com", class: 'form_control' %><br><br>


  <%= f.submit "LOOKFIND", :class => 'btn_lookFinder' %>

<% end %>
<% end %>

<% if @request.errors.any? %>
<% @request.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>
<% end %>
</div>

</div>

</div>

</article>

  <p> EL PUNTO DE ENCUENTRO CON LAS TIENDAS DE TU CIUDAD </p>

</header>
<main>
	
	<div class="row explication">
		<div class="col-md-4 description">
		<div class="titles">USUARIOS</div>
	  Escribe lo que estás buscando: Una falda de tul, una americana de terciopelo, un top de paillettes... Especfica todo lo que quieras o haz una búsqueda más amplia. Introduce tu nombre y tu e-mail o loggeate, elige en qué ciudad 
	</div>
		<div class="col-md-4 description">
		<div class="titles">TIENDAS</div>
	  Aumenta las visitas a tu tienda. Si formas parte de la base de datos de LOOKFINDER recibirás las búsquedas de los usuarios. Si tienes la prenda que buscan respóndeles y consigue fácilmente un posible nuevo cliente. No esperes más y forma parte de LOOKFINDER
	</div>
	<div class="col-md-4 description">
		<div class="titles">LOOKFINDER</div>
	  No pagas nada, no te compromete a nada, ahorra tiempo y esfuerzos, se acabó recorrer toda la ciudad buscando algo, se acabó bucear por Internet, LOOKFINDER: pone en contacto usuarios y tiendas
	</div>
	 </div>
</main>