

<header>
<article>

<div class="container">

<!-- <div class="welcome">

<div class="row sentence">
	¿Llevas tiempo buscando una falda de tul como la de Carrie Bradshaw? ¿has visto un vestido por la calle y no tienes ni idea de dónde conseguirlo? ¡Ahorra tiempo buscando esa prenda de ropa que tanto deseas! Logeate para guardar tus búsquedas o entra como un usuario anónimo
</div>

</div>
 -->
<div class="row">

<div class="col-md-6">

<div class="form">

<% if user_signed_in? %>


<%= form_for @request do |f| %>

 <strong>¿Qué prenda de ropa o calzado estás buscando?</strong> <br><%= f.text_field :product, class: 'form_control' %> <br><br>


 <strong>¿Dónde? - Selecciona una ciudad del despegable</strong>  <br><%= f.select :place, @cities.map {|c| [c.city] }.sort, {}, {required: 'true', autofocus: 'true', class: 'select_control'} %> <br><br>

  <%= f.submit "LOOKFIND", :class => 'btn_lookFinder' %>

<% end %>
<% else %>

<%= form_for @request do |f| %>

 <strong>¿Qué prenda de ropa o calzado estás buscando?</strong> <br><%= f.text_field :product, :placeholder => " Pantalones palazzo color negro", class: 'form_control' %><br><br>

 <strong>¿Dónde? Selecciona una ciudad del desplegable</strong>  <br> <%= f.select :place, @cities.map {|c| [c.city] }.sort, {}, {required: 'true', autofocus: 'true',  class: 'select_control'} %><br><br>


  <strong>Déjanos tu nombre</strong> <br><%= f.text_field :name, :placeholder => " Escribe tu nombre aquí",class: 'form_control' %><br><br>
 
  <strong>Y por último tu e-mail</strong> <br><%= f.email_field :email, :placeholder => " lookfinder@lookfinder.com", class: 'form_control' %><br><br>


  <%= f.submit "LOOKFIND", :class => 'btn_lookFinder' %>

<% end %>
<% end %>

<% if @request.errors.any? %>
<% @request.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>
<% end %>
</div>

</div>

</div>

</article>

  <p> EL PUNTO DE ENCUENTRO CON LAS TIENDAS DE TU CIUDAD </p>

</header>
<main>
	
	<div class="row explication">
		<div class="col-md-4 description">
		<div class="titles">USUARIOS</div>
	  Escribe lo que estás buscando: una falda de tul, una americana de terciopelo, un top de paillettes... Especfica el producto al máximo con color o talla, o haz una búsqueda más amplia. Haz la búsqueda registrad@ o sin registrar, lo que tu prefieras, elige en qué ciudad estás buscando el producto y espera a que la tiendas que tienen el producto contacten contigo por e-mail.
	</div>
		<div class="col-md-4 description">
		<div class="titles">TIENDAS</div>
	  Forma parte de la base de datos de LookFinder y aumenta las visitas a tu tienda. Recibirás al instante y en tu cuenta de correo electrónico las búsquedas de los usuarios que están tratando de encontrar una prenda en tu ciudad. Si tienes la prenda buscada respóndeles y consigue fácilmente un posible nuevo cliente. 
	</div>
	<div class="col-md-4 description">
		<div class="titles">LOOKFINDER</div>
	 Utiliza Lookfinder y ahorra tiempo y esfuerzos. Se acabó recorrer toda la ciudad buscando un cinturón joya o un LBD, se acabó navegar por Internet horas y horas y esperar a que te traigan a casa lo comprado para saber si es exactamente lo que estabas buscando. LOOKFINDER: pone en contacto usuarios y tiendas de una misma ciudad. 
	</div>
	 </div>
</main>