	<div class="container">

  <div class="welcome">

<div class="row sentence">
	¿Llevas tiempo buscando una falda de tul como la de Carrie Bradshaw? ¿has visto un vestido por la calle y no tienes ni idea de dónde conseguirlo? ¡Ahorra tiempo buscando esa prenda de ropa que tanto deseas! Logeate para guardar tus búsquedas o entra como un usuario anónimo
</div>

</div>

<div class="row">

<div class="col-md-6">

<div class="form">

<% if user_signed_in? %>


<%= form_for @request do |f| %>

 <strong>What are you looking for?</strong> <br><%= f.text_field :product, class: 'form_control' %> <br>


 <strong>Where? - Selecciona una ciudad del despegable</strong>  <br><%= f.select :place, @stores.map {|r| [r.place] }.sort, {}, {required: 'true', autofocus: 'true', class: 'select_control'} %> <br><br>

  <%= f.submit "LookFind", :class => 'btn_lookFinder' %>

<% end %>
<% else %>

<%= form_for @request do |f| %>

 <strong>What are you looking for?</strong> <br><%= f.text_field :product, :placeholder => " Pantalones palazzo color negro", class: 'form_control' %><br>

 <strong>Where? Selecciona una ciudad del desplegable</strong>  <br> <%= f.select :place, ["Alicante", "Jaen"], {}, {required: 'true', autofocus: 'true',  class: 'select_control'} %><br><br>


  <strong>Your name</strong> <br><%= f.text_field :name, :placeholder => " Write your name here",class: 'form_control' %><br>
 
  <strong>Your e-mail</strong> <br><%= f.email_field :email, :placeholder => " lookfinder@lookfinder.com", class: 'form_control' %><br><br>


  <%= f.submit "LookFind", :class => 'btn_lookFinder' %>

<% end %>
<% end %>

<% if @request.errors.any? %>
<% @request.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
<% end %>
<% end %>
</div>

</div>

<div class="col-md-6">

</div>

</div>

</div>



	
