
<div class="response">
¡Hola <strong><%= @request.name %></strong>! ¡Gracias por utilizar LookFinder!
Las tiendas de <%= @request.place %> han recibido lo que buscas. Si lo tienen se pondrán en contacto contigo 
</div>
<div class="DBstores">
Puedes echar un vistazo a nuestras ideas de <%= link_to 'looks', looks_path %> para buscar tus próximas prendas, o ver a continuación las <strong>tiendas de tu área</strong> de nuestra base de datos. Puedes ponerte en contacto con ellas y preguntarles directamente:


<% @stores_by_place.each do |store| %>
<ul>
<li>
	
<%= store.name %>
<%= store.postcode %>
<%= store.place %>
Telephone:
<%= store.telephone %>

<%= link_to 'Store profile', store_path(store) %>

<div 
</li>

</ul>
<% end %>


</div>


