<!DOCTYPE html>
<html>
<head>
  <title>Lookfinder</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
	
<div id="wraper">

<div id="header">

	<div class="col-sm-4">
		<div class='logo'><%= link_to image_tag("/LOGO.png", :height => 100, :width => 350), '/' %></div>
	</div>
	
	<div class="col-sm-8 nav">
	<ul>
	<h5>
	<li><%= link_to 'Home', '/' %></li>
	<li><%= link_to 'Looks', '/looks' %></li>
	<% if user_signed_in? %>
		
		<li><%= link_to 'Nueva búsqueda', '/' %></li>
		<li><%= link_to 'Perfil', user_path(current_user) %></li>
		<li><%= link_to 'Logout', destroy_user_session_path, method: 'DELETE' %></li>
		<li class="loged">Welcome <%= current_user.name %></li>

		<% else %>
		<li><%= link_to 'Sign_up', new_user_registration_path %></li>
		<li><%= link_to 'Login', new_user_session_path %></li>
		<% end %>
	</h5>
	</ul>
   </div>

</div>

<div id="content">

<%= yield %>

</div>

<div id="footer">
	<ul>
		<li>Contact</li>
		<li>Información</li>
		<li>Condiciones de privacidad y cookies</li>
	</ul>
	<ul>
		<%= link_to '¿Eres una tienda? Ponte en contacto con nosotros y forma parte de LookFinder', new_store_path %><br>
	</ul>
</div>

</div>

</body>

</html>
