<!DOCTYPE html>
<html>
<head>
  <title>Lookfinder</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
	<img src="/LOGO.png" height="100" width="350">
	<%= link_to 'Home', '/' %>
	<%= link_to 'Looks', '/looks' %>

	</nav>

<%= yield %>
<footer>ProjectTest</footer>

</body>
</html>
